.App {
  text-align: center;
  max-width: 1260px;
  margin: 0 auto;
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
